---
---

<div class="row alert alert-info">
 <h4>Hi.</h4>
 <p>I'm a recent Ph.D. graduate of MIT CSAIL where I researched how to make the web a better platform for development.
 <p>Now I'm running a startup called Cloudstitch that lets you <a href="http://cloudstitch.io">make web pages that run on spreadsheets</a> instead of traditional server back-ends. Go give it a try!</p>
</div>

{% for post in site.posts limit:site.data.theme.num_home_posts %}
<div class="post-header-home">
  <h1 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h1>
  {% include post-header-home.html %}
</div>
<div class="post-excerpt-home">
  {{ post.excerpt }}
  <p class="text-right"><a href="{{ post.url | prepend:site.baseurl }}">Continue Reading &rarr;</a></p>
</div>
{% endfor %}
