<div class="copy">
  <table width="100%">
    <tr>
      <td>
        <p>You should <a href="https://twitter.com/edwardbenson"
         class="twitter-follow-button" data-show-count="false"
         data-size="large">follow me on Twitter</a>.</p>
      </td>
    </tr>
    <!--
    <tr>
      <td width="50%">
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="edwardbenson">Tweet</a>&nbsp;
        <a href="http://twitter.com/edwardbenson" class="twitter-follow-button" data-show-count="false">Follow @edwardbenson</a>
        <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{page.title}}" data-url="http://www.edwardbenson.com{{page.url}}" data-count="horizontal" data-style="twitter">Vote on Hacker News</a>
      </td>
      <td width="50%">
        <div id="mc_embed_signup" style="margin-left: 20px; margin-top: 4px; float: right;">
          <form action="http://crowdcomputingchallenge.us2.list-manage1.com/subscribe/post?u=440ce1bd092e4aa4a6baf9cfc&amp;id=8236427482" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <p> <label for="mce-EMAIL">Sign up to receive future posts via email.</label><br />
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </p>
          </form>
        </div>
      </td>
    </tr>
    -->
  </table>
</div>
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="/javascript/hnbutton.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
