<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">

<h3>
  Ted Benson
</h3>

<p>
  <div class="media">
    <img src="http://www.gravatar.com/avatar/e6ec6e853bf22a2f3ad69ca56564b093?s=150" alt="Ted Benson" class="pull-left">
  </div>
</p>

<p><a href="https://twitter.com/edwardbenson" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @edwardbenson</a></p>


<p>Founder at <a href="http://cloudstitch.io">Cloudstitch</a>. <br />Expatriate of MIT CSAIL.</p>

</div>
