---
layout: page
title: "Publications"
lozenge: publications
---

<div id="books">
    <h2>Books</h2>

    <ul class="publications thinglist">

<li class="book">
<a href="http://www.amazon.com/gp/product/0470189487?ie=UTF8&tag=httpwwwedward-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0470189487"><img src="/images/pubs/aor.png" /></a>
<h3><a href="http://www.amazon.com/gp/product/0470189487?ie=UTF8&tag=httpwwwedward-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0470189487">The Art of Rails</a></h3>
<p>Described by an Amazon reviewier as a <em>"phenomenal follow-on book for anyone who has completed a beginner Ruby on Rails book and is looking for moving on to the next step."</em> Rails has undergone a lot of changes lately, but the underlying design patterns that this book addresses remain the same.</p>
</li>
<li class="book">
<a href="http://www.amazon.com/gp/product/0470082801/ref=as_li_qf_sp_asin_tl?ie=UTF8&tag=httpwwwedward-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0470082801"><img src="/images/pubs/ria.png" /></a>
<h3><a href="http://www.amazon.com/gp/product/0470082801/ref=as_li_qf_sp_asin_tl?ie=UTF8&tag=httpwwwedward-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0470082801">Professional Rich Internet Applications</a></h3>
<p>A developer's suvery of Web 2.0 techniques, back from the days when "ajax" was a new term and jQuery didn't even exist!</p>
</li>
</ul>
</div>
<br />
<div id=="papers" style="clear:both">
<h2>Papers</h2>

<p>Click on the title to download PDF. If the title isn't a link, it means the
paper wasn't in an archival track -- email me and I'll send you a copy.</p>

<ul class="publications thinglist">

{% for publication in site.publications reversed %}
<li class="paper">
  <h3>
    {% if publication.pdf %}
    <a href="{{publication.pdf}} ">{{publication.title}}</a>
    {% else %}
    {{publication.title}}
    {% endif %}
  </h3>
  <div class="authors">
    {% for author in publication.authors %}<span>{% if author.link %}<a href="{{author.link}}">{{author.name}}</a>{% else %}{{author.name}}{% endif %}</span>{% endfor %}
  </div>
  <div class="conference">
    <strong>
      <a href="{{publication.conferenceLink}}">{{publication.conference}}</a></strong>{%if publication.subconference %}, {{publication.subconference}}{% endif %} {% if publication.journal %}{% else %} / {{publication.city}}, {{publication.region}} {% endif %}
  </div>
  {% if publication.special %}
  <p><b>{{publication.special}}</b></p>
  {% endif %}
</li>
{% endfor %}


</div>

<div id="books">
  <h1>Other</h1>
  <ul class="publications thinglist">
    <li class="magazine">
    <h3><a href="http://chronicle.com/blogs/conversation/2013/06/04/unintentional-hipster-faculty/">Unintentional Hipster Faculty</a></h3>
    in <a href="http://chronicle.com/blogs/conversation/">The Conversation</a> at the <a href="http://chronicle.com">The Chronicle of Higher Education</a>. The Conversation. 4 June 2013.
    </li>
  </ul>
</div>
