---
layout: layout
---

<div class="content">
  <div id="post">
    {% include post_header.html %}
    {{ content }}
  </div>

  <div class="whoring">
    <div class="copy">
      {% if page.hn %}
      <p>
        You can discuss, upvote, downvote, and poke fun of this post over at <a href="{{ page.hn }}">Hacker News</a>.
      </p>
      {% endif %}
      <table width="100%">
        <tr>
          <td width="50%">
            <a href="https://twitter.com/edwardbenson"><img src="http://gravatar.com/avatar/e6ec6e853bf22a2f3ad69ca56564b093?s=142" height="50" width="50" /></a>
            <p><a href="https://twitter.com/edwardbenson">Follow me on Twitter</a>.</p>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="edwardbenson">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <a href="http://twitter.com/edwardbenson" class="twitter-follow-button" data-show-count="false">Follow
                @edwardbenson</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
          </td>
          <td width="50%">
            <div id="mc_embed_signup" style="margin-left: 20px; margin-top: 4px; float: right;">
              <form action="http://crowdcomputingchallenge.us2.list-manage1.com/subscribe/post?u=440ce1bd092e4aa4a6baf9cfc&amp;id=8236427482" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <p><label for="mce-EMAIL">If you like this post, and want to receive future posts in email, sign up for my mailing list. I won't spam you.</label><br />
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </p>
              </form>
            </div>
    </div>
  </div>
</div>
<script>
$(function() {
  $("#blog-link").addClass("selected-nav");
});
</script>

